*.project
*.classpath
.metadata
RemoteSystemsTempFiles
.settings
bookshelf-core/.settings
bookshelf-core/target
bookshelf-file/.settings
bookshelf-file/target
bookshelf-inmemory-db/.settings
bookshelf-inmemory-db/target
bookshelf-rest/.settings
bookshelf-rest/target
bookshelf-security/.settings
bookshelf-security/target
bookshelf-standalone/.settings
bookshelf-standalone/target
bookshelf-inmemory-db/.settings
bookshelf-inmemory-db/target
Servers