<% if(app.isAdmin() === true) {%>
<a href="#books/new" class="btn btn-primary">{{book.list.button.create}}</a>
<hr/>
<% } %>
<table class="table striped">
	<thead>
		<tr>
			<th>{{book.model.title}}</th>
			<th>{{book.model.year}}</th>
			<th>{{book.model.author}}</th>
			<th>{{book.model.genre}}</th>
			<% if(app.isAdmin() === true) {%>
			<th></th>
			<% } %>
		</tr>
	</thead>
	<tbody>
	<% _.each(books, function(book) { %>
		<tr>
			<td><a href="#book/<%= book.id %>"><%= htmlEncode(book.get('title')) %></a></td>
			<td><%= htmlEncode(book.get('year')) %></td>
			<td><%= htmlEncode(book.get('author')) %></td>
			<td><%= htmlEncode(book.get('genre')) %></td>
			<% if(app.isAdmin() === true) {%>
			<td><a class="btn" href="#book/<%= book.id %>/edit">{{book.list.button.edit}}</a></td>
			<% } %>
		</tr>
	<% }); %>
	</tbody>
</table>