<form class="edit-book-form">
  <legend id="page-title"><%= book ? '{{book.edit.pagetitle.edit}}' : '{{book.edit.pagetitle.new}}' %></legend>
	<label>{{book.model.title}}</label>
	<input name="title" type="text" value="<%= book ? htmlEncode(book.get('title')) : '' %>">
	<label>{{book.model.year}}</label>
	<input name="year" type="text" value="<%= book ? htmlEncode(book.get('year')) : '' %>">
	<label>{{book.model.author}}</label>
	<input name="author" type="text" value="<%= book ? htmlEncode(book.get('author')) : '' %>">
	<label>{{book.model.genre}}</label>
	<input name="genre" type="text" value="<%= book ? htmlEncode(book.get('genre')) : '' %>">
	<hr />
   <button type="submit" class="btn"><%= book ? '{{book.edit.button.update}}' : '{{book.edit.button.create}}' %></button>
   <% if(book) { %>
	<input type="hidden" name="id" value="<%= book.id %>" />
	<a class="btn btn-danger" data-toggle="modal" data-target="#myModal">{{book.edit.button.delete}}</a>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">{{book.edit.modaldelete.title}}</h4>
		  </div>
			<div class="modal-body">
			  {{book.edit.modaldelete.message}}
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default cancel" data-dismiss="modal">{{book.edit.modaldelete.cancel}}</button>
			  <button type="button" data-book-id="<%= book.id %>" class="btn btn-danger delete">{{book.edit.modaldelete.confirm}}</button>
		  </div>
		</div>
	  </div>
	</div>
   <% }; %>
</form>