<table class="table striped">
	<thead>
		<tr>
			<th>{{book.model.title}}</th>
			<th>{{book.model.year}}</th>
			<th>{{book.model.author}}</th>
			<th>{{book.model.genre}}</th>
		</tr>
	</thead>
	<tbody>
	<% _.each(books, function(book) { %>
		<tr>
			<td><a href="#book/<%= book.id %>"><%= htmlEncode(book.get('title')) %></a></td>
			<td><a href="#books?year=<%= book.get('year') %>"><%= htmlEncode(book.get('year')) %></a></td>
			<td><a href="#user/<%= book.get('author') %>"><%= htmlEncode(book.get('authorname')) %></a></td>
			<td><a href="#books?genre=<%= book.get('genre') %>"><%= htmlEncode(book.get('genre')) %></a></td>
		</tr>
	<% }); %>
	</tbody>
</table>