<form class="edit-book-form">
  <legend id="page-title"><%= book ? '{{book.edit.pagetitle.edit}}' : '{{book.edit.pagetitle.new}}' %></legend>
	<div class="input100p">
		<label>{{book.model.title}}</label>
		<input name="title" type="text" class="title-input" style="max-width:928px;width:100%;height:1.4em;font-size:2.0em;font-weight:bold;" value="<%= book ? htmlEncode(book.get('title')) : '' %>">
		<div id="title_err" class="error"></div>
	</div>
	
	<div class="input100p">
		<label>{{book.model.year}}</label>
		<input name="year" type="text" value="<%= book ? htmlEncode(book.get('year')) : '' %>"> <span id="year_err" class="error"></span>
	</div>
	<div class="input100p">
		<label>{{book.model.author}}</label>
		<input name="author" type="text" value="<%= book ? htmlEncode(book.get('author')) : app.getUser().username %>" readonly="readonly">
	</div>
	<div class="input100p">
		<label>{{book.model.genre}}</label>
		<input name="genre" type="text" value="<%= book ? htmlEncode(book.get('genre')) : '' %>">
	</div>
	<hr />
	
	<button id="save" class="btn"><%= book ? '{{book.edit.button.update}}' : '{{book.edit.button.create}}' %></button>
	<button id="publish" class="btn">{{book.edit.button.publish}}</button>
   
	<% if(book) { %>
	<input type="hidden" name="id" value="<%= book.id %>" />
	<a id="delete-button" class="btn btn-danger" >{{book.edit.button.delete}}</a>
	
	<div id="delete-dialog" title="{{book.edit.modaldelete.title}}">
	  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{{book.edit.modaldelete.message}}</p>
	</div>
	<script>
	$("#delete-dialog").hide();
	$('#delete-button').click(function() {
		$("#delete-dialog").dialog({
			resizable: false,
			height: 240,
			width: 400,
			modal: true,
			buttons: [
				{
					text: "{{book.edit.modaldelete.confirm}}",
					click: function() {
						var self = this;
						app.currentView.deleteBook(function() {
							$(self).dialog("close");
						});
					}
				},
				{
					text: "{{book.edit.modaldelete.cancel}}",
					click: function() {
						$( this ).dialog("close");
					}
				}
			]
		});
	});
	</script>
   <% }; %>
</form>