<form class="edit-chapter-form">
	<legend id="page-title"><%= chapter ? 'Edit' : 'New' %> Chapter</legend>
	<div class="input100p">
		<label>Title</label>
		<input name="title" type="text" class="title-input" style="width:100%;height:1.4em;font-size:2.0em;font-weight:bold;" value="<%= chapter ? htmlEncode(chapter.get('title')) : '' %>">
	</div>
	<div class="input50p" style="float:left;width:49.5%">
		<label>Number</label>
		<input name="number" type="text" value="<%= chapter ? htmlEncode(chapter.get('number')) : '' %>">
	</div>
	<div class="input50p" style="float:left;width:49.5%">
		<label>Position</label>
		<select name="position">
			<option value="0">Last</option>
			<option value="1">First</option>
			<%
			if(chapters) {
				_.each(chapters, function(ch) {
					if(ch && ch.get('position')) {
						var i = ch.get('position');
			%>
			<option value="<%= i+1 %>" selected="<%= chapter && chapter.id == ch.id ?  'selected' : '' %>">
				<%= chapter && chapter.id == ch.id ? '' : 'After' %> <%=ch.get('title') %>
			</option>
			<%
					}
				});
			}
			%>
		</select>
	</div>
	<div class="input50p" style="float:left;width:49.5%">
		<label>Section</label>
		<input name="section" type="text" value="<%= chapter ? htmlEncode(chapter.get('section')) : '' %>">
	</div>
	<div class="input100p" style="clear:both;">
		<label>Text</label>
		<textarea name="text" style="width:100%;height:300px"><%= chapter ? htmlEncode(chapter.get('text')) : '' %></textarea>
	</div>
	<input type="hidden" name="book" value="<%= book %>" />
	<hr />
	<button type="submit" class="btn"><%= chapter ? 'Update' : 'Create' %></button>
	
	<% if(chapter) { %>
	<input type="hidden" name="id" value="<%= chapter.id %>" />
	
	<a class="btn btn-danger" data-toggle="modal" data-target="#chapterDelete">Delete</a>
	<div class="modal fade" id="chapterDelete" tabindex="-1" role="dialog" aria-labelledby="chapterDeleteLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="chapterDeleteLabel">Delete chapter</h4>
		  </div>
			<div class="modal-body">
			  Are you sure to delete <%= chapter.get('title') %>?
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Keep it!</button>
			  <button type="button" data-chapter-id="<%= chapter.id %>" class="btn btn-danger delete" onclick="deleteChapter()">Yes, delete it!</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<script type="text/javascript">
		deleteChapter = function (ev) {
			app.chapterEditView.deleteChapters(ev);
		}
	</script>
   <% }; %>
</form>