<% if(app.isAdmin() === true) {%>
<hr/>
<div class="chapter_menu" style="margin-bottom:20px">
	<a href="<%= window.location.href %>/chapters/new" class="btn btn-primary">Create Chapter</a>
</div>
<% } %>
<div class="chapters_table" style="max-height:300px;overflow-y:auto;">
	<table class="table striped" style="margin-bottom:0;">
		<tbody>
		</tbody>
	</table>
</div>


<script>
	$('.chapters_table').scroll(function(e) {
		if($('.chapters_table').scrollTop() + $(".chapters_table").height() >= $(".chapters_table").prop('scrollHeight') - 50) {
			if(app.bookReadView && app.bookReadView.chapterListView)
				app.bookReadView.chapterListView.append(app.bookReadView.chapterListView.lastOptions);
		}
	});

</script>