<form class="edit-book-form">
  <legend id="page-title"><%= book ? 'Edit' : 'New' %> Book</legend>
	<label>Title</label>
	<input name="title" type="text" value="<%= book ? htmlEncode(book.get('title')) : '' %>">
	<label>Year</label>
	<input name="year" type="text" value="<%= book ? htmlEncode(book.get('year')) : '' %>">
	<label>Author</label>
	<input name="author" type="text" value="<%= book ? htmlEncode(book.get('author')) : '' %>">
	<label>Genre</label>
	<input name="genre" type="text" value="<%= book ? htmlEncode(book.get('genre')) : '' %>">
	<hr />
   <button type="submit" class="btn"><%= book ? 'Update' : 'Create' %></button>
   <% if(book) { %>
	<input type="hidden" name="id" value="<%= book.id %>" />
	<a class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</a>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Delete book</h4>
		  </div>
			<div class="modal-body">
			  Are you sure to delete <%= book.get('title') %>?
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Keep it!</button>
			  <button type="button" data-book-id="<%= book.id %>" class="btn btn-danger delete">Yes, delete it!</button>
		  </div>
		</div>
	  </div>
	</div>
   <% }; %>
</form>